Source: ros-galactic-moveit-chomp-optimizer-adapter
Section: misc
Priority: optional
Maintainer: Raghavender Sahdev <raghavendersahdev@gmail.com>
Build-Depends: debhelper (>= 9.0.0), ros-galactic-ament-cmake, ros-galactic-ament-lint-auto, ros-galactic-ament-lint-common, ros-galactic-chomp-motion-planner, ros-galactic-moveit-common, ros-galactic-moveit-core, ros-galactic-pluginlib (>= 1.11.2), ros-galactic-ros-workspace
Homepage: 
Standards-Version: 3.9.2

Package: ros-galactic-moveit-chomp-optimizer-adapter
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-galactic-chomp-motion-planner, ros-galactic-moveit-core, ros-galactic-pluginlib (>= 1.11.2), ros-galactic-ros-workspace
Description: MoveIt planning request adapter utilizing chomp for solution optimization
