Source: ros-iron-chomp-motion-planner
Section: misc
Priority: optional
Maintainer: Chittaranjan Srinivas Swaminathan <chitt@live.in>
Build-Depends: debhelper (>= 9.0.0), ros-iron-ament-cmake, ros-iron-ament-lint-auto <!nocheck>, ros-iron-ament-lint-common <!nocheck>, ros-iron-moveit-common, ros-iron-moveit-core, ros-iron-rclcpp, ros-iron-rsl, ros-iron-trajectory-msgs, ros-iron-ros-workspace
Homepage: http://ros.org/wiki/chomp_motion_planner
Standards-Version: 3.9.2

Package: ros-iron-chomp-motion-planner
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-iron-moveit-common, ros-iron-moveit-core, ros-iron-rclcpp, ros-iron-rsl, ros-iron-trajectory-msgs, ros-iron-ros-workspace
Description: chomp_motion_planner
